.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-top: 4px;
  gap: 8px;
}

.icon {
  width: 22px;
  height: 22px;
  fill: var(--color-primary-800);
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary-800);
}

.text strong {
  font-weight: 700;
  color: var(--color-accent-800);
}
