.label-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label-box.disabled {
  opacity: 0.7;
}

.label {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-text-light);
}

.label .required {
  color: var(--color-red-500);
  font-weight: 700;
}

.select {
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 0.9em;
  padding: 6px 4px;
  font-weight: 500;
  outline: none;
  box-sizing: border-box;
}

.select.primary {
  background-color: var(--color-primary-800);
  color: var(--color-text-light);
}

.select.soft {
  background-color: var(--color-primary-600);
  color: var(--color-text-light);
}

.select::placeholder {
  color: var(--color-gray-200);
}

.select:disabled {
  opacity: 0.7;
}

.select:focus {
  border-color: var(--color-primary-200);
}
