:root {
  /* Background colors */
  --color-background: #f1f1f1;

  /* Primary colors */
  --color-primary-900: #001d1f;
  --color-primary-800: #002b30;
  --color-primary-700: #084b51;
  --color-primary-600: #266a72;
  --color-primary-500: #3a7980;
  --color-primary-400: #48868d;
  --color-primary-300: #5a9398;
  --color-primary-200: #80b9bf;
  --color-primary-100: #b0dee2;
  --color-primary-50: #cfe3e4;

  /* Accent colors */
  --color-accent-700: #009a8f;
  --color-accent-600: #00c2b3;
  --color-accent-500: #00e7db;
  --color-accent-400: #00ffee;

  /* Gray colors */
  --color-gray-900: #18191e;
  --color-gray-800: #212229;
  --color-gray-700: #282932;
  --color-gray-600: #2e303b;
  --color-gray-500: #373946;
  --color-gray-400: #444756;
  --color-gray-300: #5c5f75;
  --color-gray-200: #696d85;
  --color-gray-100: #767a92;
  --color-gray-50: #afb3c8;
  --color-gray-25: #edeef2;

  /* Text Colors */
  --color-text-light: #f1f1f1;
  --color-text-dark: #002b30;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow: hidden;
  user-select: none;
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
