.modal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 5vw;
    background-color: var(--color-primary-700);
    color: var(--color-text-light);
}

.line {
    border: none;
    height: 2px;
    border-radius: 6px;
    background-color: var(--color-primary-300);
}
