.panel {
  display: flex;
  gap: 1vw;
  padding: 1vh 30px;
  width: 100%;
  height: 25vh;
  background-color: var(--color-primary-700);
}

@media (max-width: 1280px) {
  .panel {
    padding: 1vh 18px;
  }
}