.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.actions {
  display: flex;
  gap: 8px;
}

.action-button {
  padding: 4px 10px 1px 10px;
  box-shadow: none !important;
}

.action-icon {
  fill: var(--color-text-light);
  width: 18px;
  height: 18px;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.activities-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activities-label {
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.activities-label .bullet {
  width: 8px;
  height: 8px;
  background-color: var(--color-primary-100);
  border-radius: 50%;
  margin-top: 3px;
}

.activities-label .name {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-text-light);
}

.activities-container {
  display: flex;
  gap: 28px;
}

.activities-panel {
  overflow: hidden;
  min-width: 200px;
}

.activities-panel.empty {
  width: 100%;
  min-width: 100%;
}

.activities-list {
  margin: 0 !important;
}

.activity-index {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-300);
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 700;
}

.activity-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  overflow: hidden;
}

.activity-info-boolean {
  display: flex;
  align-items: center;
  gap: 20px;
}
