.capture-actions {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 0.9em !important;
  font-weight: 700 !important;
  margin-bottom: 8px !important;
}

.main-button .icon {
  width: 22px;
  height: 22px;
}

.icon.danger {
  color: var(--color-text-light);
  fill: var(--color-text-light);
}

.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 0.9em !important;
  font-weight: 700 !important;
  visibility: hidden;
}

.secondary-button.visible {
  visibility: visible;
}

.secondary-button .icon {
  width: 22px;
  height: 22px;
}
