.box {
  display: flex;
  flex-direction: column;
  width: 15vw;
  min-width: 180px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1.2em;
}

.add-button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 5px 0 0 0;
  cursor: pointer;
}

.add-button .svg {
  width: 20px;
  height: 20px;
  fill: var(--color-primary-100);
  transition: all 150ms ease-in-out;
}

.add-button .svg:hover {
  transform: scale(1.1);
  fill: var(--color-primary-100);
}

.items {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px 0;
  border-radius: 4px;
  background-color: var(--color-primary-600);
  scroll-behavior: smooth;
  overflow: auto;
}

.items::-webkit-scrollbar {
  background-color: var(--color-primary-100);
  width: 6px;
  height: 6px;
}

.items::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-800);
  width: 6px;
  height: 6px;
}

.items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}

.items .item:first-child {
  border-radius: 4px 4px 0 0;
}

.items .item:hover {
  background-color: var(--color-primary-500);
}

.item .name {
  color: var(--color-text-light);
  font-size: 1em;
  font-weight: 500;
}

.item .actions {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 4px;
}

.item:hover .actions {
  visibility: visible;
}

.actions .action {
  width: 20px;
  height: 20px;
  fill: var(--color-text-light);
  transition: transform 150ms ease-in-out;
}

.actions .action.normal:hover {
  transform: scale(1.2);
  fill: var(--color-accent-200);
}

.actions .action.danger:hover {
  transform: scale(1.2);
  fill: var(--color-red-500);
}
