.header {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-primary-50);
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-primary-100);
}
