.header {
    display: flex;
    align-items: flex-end;
    gap: 6px;
}

.title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-primary-50);
}

.icon {
    width: 22px;
    height: 22px;
    fill: var(--color-primary-100);
}