.label-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-text-light);
}

.label .required {
  color: var(--color-red-500);
  font-weight: 700;
}

.input {
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 0.9em;
  font-weight: 400;
  outline: none;
}

.input.primary-dark {
  background-color: var(--color-primary-800);
  border: 2px solid var(--color-primary-500);
  color: var(--color-text-light);
}

.input.primary-dark:focus {
  border-color: var(--color-primary-200);
}

.input.primary-dark::placeholder {
  color: var(--color-gray-200);
}

.input.primary {
  background-color: var(--color-primary-600);
  border: 2px solid var(--color-primary-700);
  color: var(--color-text-light);
}

.input.primary:focus {
  border-color: var(--color-primary-900);
}

.input.primary::placeholder {
  color: var(--color-primary-50);
}

.label-box.disabled {
  opacity: 0.7;
}

.input:disabled {
  opacity: 0.7;
}
