.container {
  padding: 22px;
  background-color: var(--color-primary-50);
  border-radius: 8px;
}

.upload-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px dashed var(--color-primary-800);
  border-radius: 8px;
  padding: 10vh 2vw;
  z-index: 10;
  transition: background-color 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  cursor: default;
}

.upload-zone.drag-over {
  background-color: var(--color-primary-100);
  opacity: 0.7;
}

.upload-zone.has-files {
  background: color-mix(in srgb, var(--color-accent-200) 15%, var(--color-primary-50) 85%);
}

.upload-zone .input {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  z-index: -1;
  animation: none;
}

.upload-zone .icon {
  width: 80px;
  height: 80px;
  fill: var(--color-primary-800);
}

.upload-zone .label-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label-container .help-text {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--color-primary-800);
}

.browse-text {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-accent-900);
  cursor: pointer;
}

.browse-text:hover {
  color: var(--color-accent-700);
}

.upload-zone .accepted-files {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-primary-700);
}
