.link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: transform 100ms ease-in-out;
}

.link:hover {
  transform: scale(1.1);
}

.icon {
  width: 26px;
  height: 26px;
  fill: var(--color-text-light);
}

.link.active .icon {
  fill: var(--color-accent-500);
}

.text {
  font-weight: 600;
  color: var(--color-text-light);
  font-size: 1em;
}

.link.active .text {
  color: var(--color-accent-500);
}
