.button {
  position: relative;
  border: none;
  padding: 5px 18px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

.button:not(.loading):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.loading {
  opacity: 0.7;
  cursor: not-allowed;
  fill: transparent !important;
  color: transparent !important;
}

.button.loading svg{
  fill: transparent !important;
}

/* Styles */
/* default */
.button.default {
  background-color: var(--color-accent-500);
  color: var(--color-text-dark);
  box-shadow: -2px 2px 1px var(--color-primary-800);
}

.button.default:hover {
  background-color: var(--color-accent-300);
  box-shadow: -2px 2px 3px var(--color-primary-900);
}

/* danger */
.button.danger {
  background-color: var(--color-red-600);
  color: var(--color-text);
  box-shadow: -2px 2px 1px var(--color-primary-800);
}

.button.danger:hover {
  background-color: var(--color-red-500);
  box-shadow: -2px 2px 3px var(--color-primary-900);
}

/* soft */
.button.soft {
  background-color: var(--color-primary-600);
  color: var(--color-text-dark);
  box-shadow: -2px 2px 1px var(--color-primary-800);
}

.button.soft:hover {
  background-color: var(--color-primary-500);
  box-shadow: -2px 2px 3px var(--color-primary-900);
}

/* Border Radius Styles */
/* small (sm) */
.button.sm {
  border-radius: 4px;
}

/* medium (md) */
.button.md {
  border-radius: 8px;
}

/* extra large (xl) */
.button.xl {
  border-radius: 16px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader .circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 3px solid var(--color-text-dark);
  border-top: 3px solid var(--color-text-light);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}