node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# env files
.env
.env.*
!.env.example

# SonarQube files
.scannerwork/

/plugins/
plugins-dev
*storybook.log
storybook-static
/data/
/resources/plugins/
/build/plugins.nsh

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Performance reports
/performance-report/

# Vitest coverage
/coverage/

# Test reports
/test-reports/