# Virtual environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd


# Poetry files
poetry.lock


# Build files
build/
dist/
*.egg-info/
pip-wheel-metadata/


# IDE & editor files
.vscode/
.idea/
*.iml


# env files
.env
.env.*
!.env.example

# Data files
/data/
/plugins/

# Logs
*.log
/logs/

# SonarQube files
.sonar/

# Test files
.pytest_cache/
.coverage
.coverage.*
coverage.*
htmlcov/
